<header id="container">
  <div class="hero_area">
    <h1>MY TRACK</h1>
    <h3>{{myTxt}}</h3>
    <video id="sensi-video" loop="loop" preload="auto" class="video-playing" autoplay="autoplay">
      <source type="video/mp4" src="./video/home.mp4"></source>
    </video>
  </div>
</header>
<!-- <div class="form-group" ng-submit="myFunc()">
  <input type="text" class="form-control search" id="inputVille" name="ville" placeholder="Votre ville" ng-model="ville">
  <button type="button" class="btn btn-success search2">Rechercher</button>
</div> -->
<form ng-submit="myFunc()">
  <input type="text">
  <input type="submit">
</form>

<div class="container-fluid">
  <div class="all_icon">
    <h2>Découvrez vos futures activitées</h2>
    <div class="biking carre_left">
      <div class="row">
        <h4>Vélo</h4>
        <div class="col-md-6 col-md-push-1">
          <img src="./images/velo.jpg" alt="velo">
        </div>
        <div class="col-md-5 ">
          <p>Lorem ipsum dolor sit amet. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-1 col-md-push-3">
          <img src="./images/velo.png" alt="velo logo">
        </div>
      </div>
    </div>
    <div class="biking carre_right col-md-offset-4">
      <div class="row">
        <h4>Cinéma</h4>
        <div class="col-md-1 col-md-pull-5">
          <img src="./images/cinema.png" alt="cinema_logo">
        </div>
        <div class="col-md-1">
          <img src="./images/cinema.jpg" alt="cinema">
        </div>
        <div class="col-md-5 col-md-push-4">
          <p>Lorem ipsum dolor sit amet. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="biking carre_left">
      <div class="row">
        <h4>Tennis</h4>
        <div class="col-md-6 col-md-push-1">
          <img src="./images/tennis.jpg" alt="tennis">
        </div>
        <div class="col-md-5 ">
          <p>Lorem ipsum dolor sit amet. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-1 col-md-push-3">
          <img src="./images/tennis.png" alt="tennis logo">
        </div>
      </div>
    </div>
    <div class="biking carre_right col-md-offset-4">
      <div class="row">
        <h4>Foot en salle</h4>
        <div class="col-md-1 col-md-pull-5">
          <img src="./images/foot.png" alt="foot_logo">
        </div>
        <div class="col-md-1">
          <img src="./images/foot.jpg" alt="foot">
        </div>
        <div class="col-md-5 col-md-push-4">
          <p>Lorem ipsum dolor sit amet. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
