[Desktop Entry]
Encoding=UTF-8
Name=Lien vers home.mp4
Type=Link
URL=https://github.com/destpat/my-track/blob/master/public/video/home.mp4
Icon=text-html
